$primary-color: #62a1eb;
$danger-color: #e52f2f;
$text-color: #2e2e2e;
$bg-color: #f7f7f7;
$bg-colot-dark: #d9d9d9;
$light-color: #797979;
$light-dark: rgb(0 0 0 / 60%);
$border-color: #eff1f4;
$border-color-2: #a5a5a5;
$font-family: 'Helveticaneue', sans-serif;
